@using Libre.Helpers;
@model Libre.ViewModels.PageViewModel<Book>;


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Books", FormMethod.Post))
{
    <div class="form-group">
        <label>Typ sortowania</label>
        <select class="form-control" asp-for="@Model.SortType" asp-items="Html.GetEnumSelectList<SortType>()"></select>
        <input type="submit" value="Szukaj"/>
    </div>
}

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().RealeaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Pages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().CoverType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Info)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Gendre.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealeaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gendre.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
