@using Libre.ViewModels;
@using Libre.Helpers;

@model PageViewModel<Book>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">
    <div class="form-group">
        <select asp-for="@Model.SortType" asp-items="Html.GetEnumSelectList<SortType>()"></select>
    </div>
    <div class="form-group">
        <input asp-for="@Model.Search" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().RealeaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().CoverType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Genre.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealeaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
